<div class="col s12">
  <h5 class="center">Add a topic</h5>
  <br>
  <form class="row">
    <div class="col s4 offset-s4">
      <div class="input-field">
        <input class="validate" id="form-field1" type="text">
        <label for="form-field1">Field1</label>
      </div>
      <div class="input-field">
        <input class="validate" id="form-field2" type="text">
        <label for="form-field2">Field2</label>
      </div>
      <div class="input-field">
        <input class="validate" id="form-field3" type="text">
        <label for="form-field3">Field3</label>
      </div>
    <button class="btn-large waves-effect waves-light" type="submit" value="Send">Submit Topic</button>
    </div>
  </form>
</div>